.hero {
    position: relative;
    max-width: 2560px;
    min-height: 90rem;
    padding-top: 7rem;
}

.hero-video {
    display: block;
    width: 100%;
    min-height: 90rem;
    object-fit: cover;
}

.hero-text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 91.66%;
    margin: 0 auto 12rem;
    border: 1px solid #a36b4f;
    border-top: none;
    padding-top: 7rem;
}

.hero-text {
    padding: 7.4rem 3.37%;
    color: rgb(255,255,255);
}

.hero-text-title {
    font-family: "genesis-head-light", sans-serif;
    font-size: 15rem;
    font-weight: normal;
    line-height: 16rem;
    letter-spacing: -0.025em;
    margin-bottom: 1.1rem;
    animation: slideUp 2s both;
}

.hero-text-subtitle {
    font-family: "genesis-head-light", sans-serif;
    font-size: 3rem;
    line-height: 3.8rem;
    animation: slideUp 2s 0.2s both;
}

.arrow-down {
    position: absolute;
    display: inline-block;
    bottom: -6.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 5rem;
}

.arrow-down img {
    width: 100%;
}

/* Vision */
.vision-wrap {
    padding-top: 24rem;
    overflow: hidden;
}

.vision-inner {
    height: 50vw;
    max-height: 1080px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../genesis/img/genesis-kr-the-brand-vision-and-mission-04-desktop-1920x960-ko.jpg');
}

.vision-text-box {
    font-family: "genesis-head-light", sans-serif;
    margin: 0 14rem;
    padding-top: 9.8rem;
    display: flex;
    justify-content: flex-end;
    color: rgb(255,255,255);
}

.vision-text p:first-child {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
}

.vision-text p:last-child {
    font-size: 2.6rem;
    margin: 4.8rem 0 1.6rem 0;
}

/*Our-Way*/
.our-Way-wrap {
    overflow: hidden;
}

.our-Way-inner {
    height: 50vw;
    max-height: 1080px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../genesis/img/genesis-kr-the-brand-our-way-04-desktop-1920x960-ko.webp');
}

.our-Way-text-box {
    font-family: "genesis-head-light", sans-serif;
    margin: 0 14rem;
    padding-top: 9.8rem;
    display: flex;
    justify-content: flex-start;
    color: rgb(255,255,255);
}

.our-Way-text p:first-child {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
}

.our-Way-text p:last-child {
    font-size: 2.6rem;
    margin: 4.8rem 0 1.6rem 0;
}

/* Design */
.design-wrap {
    overflow: hidden;
}

.design-inner {
    height: 50vw;
    max-height: 1080px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../genesis/img/genesis-kr-the-brand-genesis-design-05-desktop-1920x960-ko.webp');
}

.design-text-box {
    font-family: "genesis-head-light", sans-serif;
    margin: 0 14rem;
    padding-top: 9.8rem;
    display: flex;
    justify-content: flex-start;
    color: rgb(255,255,255);
}

.design-text-box h2 {
    font-family: "genesis-head-light", sans-serif;
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 1.148;
    margin-bottom: 4.1rem;
}

.design-text p:first-child {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
}

.design-text p:last-child {
    font-family: "genesis-text", sans-serif;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 1.8rem;
}

/* Emblem */
.emblem-inner {
    position: relative;
}

.emblem-wrap .emblem-video {
    position: relative;
    max-width: 1920px;
}

.emblem-wrap .emblem-video video {
    width: 100%;
    object-fit: contain;
}

.emblem-wrap .emblem-text-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 14rem;
    padding-top: 9.6rem;
    color: rgb(255,255,255);
}

.el-title {
    font-family: "genesis-head-light", sans-serif;
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 1.148;
    letter-spacing: -.025em;
    margin-bottom: 4.1rem;
    color: #ad7b61;
}

.emblem-text p:first-child {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
}

.emblem-text p:last-child {
    font-family: "genesis-text", sans-serif;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 1.8rem;
}

.emblem-inner .play-btn {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}

.emblem-inner .play-btn button {
    width: 6.4rem;
    height: 6.4rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.emblem-inner .play-btn button:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../genesis/img/ico-play-default.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/* Glance */
.glance-wrap {
    width: 100%;
}

.glance-wrap .glance-inner {
    padding: 24rem 0;
    max-height: 1080px;
}

.glance-wrap .glance-inner .glance-box {
    padding: 0 14rem;
}

.glance-wrap .glance-inner .glance-box .glance-text {
    font-family: "genesis-head-light", sans-serif;
    color: rgb(255,255,255);
    text-align: center;
}

.glance-wrap .glance-inner .glance-box .glance-text p {
    font-size: 1.8rem;
    letter-spacing: -0.025em;
}

.glance-wrap .glance-inner .glance-box .glance-text h2 {
    font-size: 4.2rem;
    font-weight: normal;
    letter-spacing: -0.025em;
    margin-top: 1.1rem;
}

.glance-wrap .glance-inner .glance-box .slide-tab-wrap {
    position: relative;
    margin-top: 6.6rem;
    padding-top: 43.9%;
}

.glance-wrap .glance-inner .glance-box .slide-tab-wrap .slide-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 43.9%;
    overflow: hidden;
}

.slide-list .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.slide-list .slide img {
    object-fit: contain;
}

.glance-wrap .glance-inner .glance-box .slide-tab-box {
    font-family: "genesis-text", sans-serif;
    margin-top: 1.9rem;
    padding: 0.5rem;
} 

.glance-wrap .glance-inner .glance-box .slide-tab-box .tab-list {
    position: relative;
    display: flex;
    border-bottom: 1px solid #333;
}

.glance-wrap .glance-inner .glance-box .slide-tab-box .tab-list li {
    flex: 1;
    cursor: pointer;
}

.slide-tab-box .tab-list .tab-item {
    position: relative;
    display: block;
    font-family: "genesis-head", sans-serif;
    font-size: 1.6rem;
    letter-spacing: -0.019em;
    color: #808080;
    padding: 1.8rem 1.8rem 1.8rem 0;
    transition: .2s;
}

.tab-item span {
    display: block;
}

.slide-tab-box .tab-list .tab-item span:hover {
    color: #ad7b61;
}

/* 전체 ul박스에 언더라인 이동 */
.line {
    position: absolute;
    width: 25%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0.1rem;
    background: #ad7b61;
    transition: .5s;
}

.slide-tab-wrap .glance-desc-box {
    position: relative;
    height: 71px;
}

.slide-tab-wrap .glance-desc-box p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 4.3rem;
    font-family: 'genesis-text', sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #ccc;
    transition: .5s;
}

/* MODELS & LINE-UP */
.models1-wrap {
    overflow: hidden;
}

.models1-inner {
    height: 50vw;
    max-height: 1080px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../genesis/img/genesis-kr-the-brand-lineup-10-desktop-1920x960-ko.webp');
}

.models1-content {
    position: relative;
    height: 100%;
    margin: 0 14rem; 
}

.models1-text-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "genesis-head-light", sans-serif;
    display: flex;
    justify-content: flex-start;
    color: rgb(255,255,255);
}

.models1-text p:first-child {
    font-family: "genesis-head-light", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
}

.models1-text p:last-child {
    font-size: 2.6rem;
    margin: 4.8rem 0 1.6rem 0;
}

/* DISCOVER */
.type-space {
    padding: 24rem 0;
}

.discover-inner {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.discover-inner .discover-title {
    width: 78rem;
    margin: 0 auto;
    font-family: 'genesis-head-light', sans-serif;
    font-size: 4.2rem;
    line-height: 5rem;
    letter-spacing: -0.025em;
    color: #fff;
    padding-bottom: 7.3rem;
    text-align: center;
}

.discover-carousel-wrap {
    position: relative;
}

.d-carousel {
    position: relative;
}

.d-carousel-list {
    position: relative;
    height: 0;
    padding-top: 50%;
}

.d-carousel-list-item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
}

.d-carousel-list-item div {
    width: 100%;
}

.d-carousel-list-item div img {
    width: 100%;
}

.d-contnav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.d-contnav .d-content-list {
    position: relative;
    height: 100%;
}

.d-contnav .d-content-list .d-content-list-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .2s;
    z-index: 1;
}

.d-content-list-item .d-content-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 52rem;
    padding: 0 14rem 7.4rem 7.2rem;
}

/* left값을 적용하지 않을 경우 auto로 설정 */
.d-content-list li:nth-child(1) .d-content-inner,
.d-content-list li:nth-child(3) .d-content-inner {
    right: 0;
    left: auto;
}


.d-content-list-item .d-content-inner .el-title {
    line-height: 6.2rem;
}

.d-content-list-item .d-content-inner .d-content-info {
    margin-top: 4.1rem;
}

.d-content-info a {
    position: relative;
    display: inline-block;
    font-family: 'genesis-text', sans-serif;
    font-size: 1.6rem;
    padding: 0 1.5rem 0.2rem 0;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}

/* border 위, 오른쪽(ㄱ자 모양)을 45도 돌려서 화살표 만들기 */
.d-content-info a:after {
    content: "";
    position: absolute;
    top: -0.8rem;
    right: 1px;
    bottom: 0;
    margin: auto 0;
    width: 0.7rem;
    height: 0.7rem;
    border: 2px solid #996449;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg) scale(0.8);
    cursor: pointer;
}

.d-content-info a span {
    position: relative;
    display: inline-block;
    padding-bottom: 0.4rem;
}

.d-content-info a span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.d-content-info a span:hover:before {
    animation: lineWidth 1s both;
}

.d-tab-area {
    position: relative;
    padding-bottom: 6.6rem;
    margin: 0 14rem;
}

.d-tab-wrap {
    max-width: 1640px;
}

.d-tab-wrap .d-tab-list {
    display: flex;
}

.d-tab-wrap .d-tab-list .d-tab-item {
    position: relative;
    width: 20%;
}

.d-tab-item a {
    display: block;
    font-family: 'genesis-head', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1.7rem 0;
    color: #fff;
    letter-spacing: -.025em;
}

.d-tab-item .d-tab-text {
    display: block;
    width: 85%;
    transition: .2s;
}

.d-tab-item a:hover .d-tab-text {
    color:#ad7b61;
}

.d-tab-item .d-tab-line {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}

.d-controls {
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 6.4rem;
    height: 6.4rem;
    margin: 0 0 3rem 4.6rem;
}

.d-controls button {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.d-controls button:after {
    content: "";
    display: block;
    height: 100%;
    background-image: url(../genesis/img/ico-play-default.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: .2s;
}

/* LIFESTYLE BRAND */
.lifestyle-wrap {
    overflow: hidden;
    padding-bottom: 24rem;
}

.lifestyle-inner {
    height: 50vw;
    max-height: 1080px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../genesis/img/genesis-kr-the-brand-genesis-special-moments-15-desktop-1920x960-ko-1.jpg');
}

.lifestyle-content {
    position: relative;
    height: 100%;
    margin: 0 14rem; 
}

.lifestyle-text-box {
    position: absolute;
    top: 9.8rem;
    font-family: "genesis-head-light", sans-serif;
    display: flex;
    justify-content: flex-start;
    color: rgb(255,255,255);
}

.lifestyle-text p:first-child {
    font-family: "genesis-head-light", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
}

.lifestyle-text p:last-child {
    font-size: 2.6rem;
    margin: 4.8rem 0 1.6rem 0;
}

/*Space */
.space-wrap {
    height: 600px;
    padding-bottom: 24rem;
}

.space-inner {
    height: 100%;
    display: flex;
}

.space-img {
    flex-basis: 63.54%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../genesis/img/genesis-kr-the-brand-experience-space-16-desktop-mobile-1220x660-ko.webp');
}

.space-content {
    flex-basis: 36.46%;
}

.space-text-box {
    height: 100%;
    padding: 0 14rem 0 18rem;
    color: rgb(255,255,255);
}

.space-text {
    height: 100%;
    padding-bottom: 7.7rem;
    border-bottom: 1px solid #4d4d4d;
    box-sizing: border-box;
}

.space-text-box p:first-child {
    font-family: "genesis-head-light", sans-serif;
    font-size: 1.8rem;
    line-height: 1.22;
    margin-bottom: 7.1rem;
}

.space-text-box h2 {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -.025em;
    color: #ad7b61;
    margin-bottom: 2.7rem;
}

.space-text-box .space-desc {
    font-family: "genesis-head-light", sans-serif;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ccc;
}

.space-btn {
    position: relative;
    width: 100%;
    margin-top: 7.3rem;
    overflow: hidden;
}

.cm-btn {
    position: relative;
    display: block;
    width: 24rem;
    height: 5.6rem;
    font-family: 'genesis-text', sans-serif;
    font-size: 1.6rem;
    line-height: 5.6rem;
    color: #fff;
    padding: 0 4rem;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
}
/* 자세히 보기 버튼 위에 높이가 0인 버튼을 만들고, overflow: hidden;하여 */
/* 텍스트는 높이가 커지면 글자가 보이게 함*/
.masker {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    transition: .2s;
}
/* 텍스트도 포지션 잡아주어 높이가 커지면 글자가 보이게 함 */
.cm-btn .masker span {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.cm-btn:hover .masker{
    height: 100%;
}

/*MEMBERSHIP */
.membership-wrap {
    height: 600px;
    padding-bottom: 24rem;
}

.membership-inner {
    height: 100%;
    display: flex;
}

.membership-img {
    flex-basis: 63.54%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../genesis/img/genesis-kr-the-brand-experience-membership-17-desktop-mobile-1220x660-ko.webp');

}

.membership-content {
    flex-basis: 36.46%;
}

.membership-text-box {
    height: 100%;
    padding: 0 18rem 0 14rem;
    color: rgb(255,255,255);;
}

.membership-text {
    height: 100%;
    padding-bottom: 7.7rem;
    border-bottom: 1px solid #4d4d4d;
    box-sizing: border-box;
}

.membership-text-box p:first-child {
    font-family: "genesis-head-light", sans-serif;
    font-size: 1.8rem;
    line-height: 1.22;
    margin-bottom: 7.1rem;
}

.membership-text-box h2 {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -.025em;
    color: #ad7b61;
    margin-bottom: 2.7rem;
}

.membership-text-box .membership-desc {
    font-family: "genesis-head-light", sans-serif;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ccc;
}

.membership-btn {
    position: relative;
    width: 100%;
    margin-top: 7.3rem;
    overflow: hidden;
}

/*PARTNERSHIP */
.parter-wrap {
    height: 600px;
    padding-bottom: 24rem;
}

.parter-inner {
    height: 100%;
    display: flex;
}

.parter-img {
    flex-basis: 63.54%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../genesis/img/genesis-kr-the-brand-experience-partnership-18-desktop-mobile-1220x660-ko.jpg');
}

.parter-content {
    flex-basis: 36.46%;
}

.parter-text-box {
    height: 100%;
    padding: 0 14rem 0 18rem;
    color: rgb(255,255,255);
}

.parter-text {
    height: 100%;
    padding-bottom: 7.7rem;
    border-bottom: 1px solid #4d4d4d;
    box-sizing: border-box;
}

.parter-text-box p:first-child {
    font-family: "genesis-head-light", sans-serif;
    font-size: 1.8rem;
    line-height: 1.22;
    margin-bottom: 7.1rem;
}

.parter-text-box h2 {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -.025em;
    color: #ad7b61;
    margin-bottom: 2.7rem;
}

.parter-text-box .parter-desc {
    font-family: "genesis-head-light", sans-serif;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ccc;
}

.parter-btn {
    position: relative;
    width: 100%;
    margin-top: 7.3rem;
    overflow: hidden;
}

/* OUR-JOURNEY */
.journey-wrap {
    overflow: hidden;
}

.journey-inner {
    height: 50vw;
    max-height: 1080px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../genesis/img/genesis-kr-the-brand-journey-19-desktop-1920x960-ko.jpg');
}

.journey-content {
    position: relative;
    height: 100%;
    margin: 0 14rem; 
}

.journey-text-box {
    position: absolute;
    top: 9.8rem;
    font-family: "genesis-head-light", sans-serif;
    display: flex;
    justify-content: flex-start;
    color: rgb(255,255,255);
}

.journey-text p:first-child {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
}

.journey-text p:last-child {
    font-size: 2.6rem;
    margin: 4.8rem 0 1.6rem 0;
}

/*JOIN US */
.joinus-wrap {
    padding: 24rem 0;
}

.joinus-inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 14rem;
}

.joinus-parallax {
    box-sizing: content-box;
    height: 100vh;
    display: flex;
    align-items: center;
}

.parallax-inner {
    position: relative;
    width: 100%;
}

.joinus-content {
    position: relative;
    margin-left: 23.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joinus-text-box {
    width: 70%;
    max-width: 96rem;
    color: #fff;
}

.joinus-text-box p:first-child {
    font-family: 'genesis-head-light', sans-serif;
    font-size: 1.8rem;
    line-height: 1.222;
    margin-bottom: 4.6rem;
}

.joinus-text-box p:nth-child(2) {
    font-family:  "genesis-text", sans-serif;
    font-size: 4.2rem;
    line-height: 1.476;
}

.joinus-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 2.2rem;
    width: 28.4%;
    display: flex;
    align-items: center;
}

.joinus-right img {
    width: 100%;
    vertical-align: top;
}

.joinus-left {
    position: absolute;
    top: 100%;
    left: 0;
    width: 40.666%;
    margin-top: 4rem;
}










