header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(17, 17, 17);
    border-bottom: 1px solid #1e1e1e;
    z-index: 10;
}
.gnb {
    max-width: 1920px;
    margin: 0 auto;
    height: 6.9rem;
    padding: 0 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb a {
    display: inline-block;
    font-family: "genesis-head-regular";
    font-size: 1.5rem;
    line-height: 6.9rem;
    color: #fff;
    transition: .2s;
}

.gnb a:hover {
    color: #ad7b61;
}

.gnb-left {
    height: 100%;
    display: flex;
    align-items: center;
}

.gnb-left li {
    height: 100%;
}

.gnb-left li~li {
    margin-right: 5.8rem;
}

.gnb-left .gnb-logo {
    width: 12.8rem;
    margin-right: 7rem;
}

.gnb-left a img {
    width: 100%;
    vertical-align: middle;
}

.gnb-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.gnb-right .private-nav {
    margin-right: 0.2rem;
}

.gnb-right .private-nav ul {
    display: flex;
}

.gnb-right .private-nav ul li:last-child {
    margin-left: 2.9rem;
}

.gnb-right .private-nav ul li a {
    font-size: 1.4rem;
}

.gnb-right .util-search {
    margin: 0 1.8rem;
}

.gnb-right .util-search .search {
    position: relative;
    display: block;
    width: 3.7rem;
    height: 6.9rem;
    color: rgb(255,255,255);
}

.gnb-right .search:before {
    display: inline-block;
    content: "";
    width: 1.7rem;
    height: 1.7rem;
    background: url('../genesis/img/icon-search-small.png') no-repeat 0 0;
    background-size: 100% auto;
}

.gnb-right .util-sitemap {
    margin-right: -2.3rem;
}

.gnb-right .util-sitemap .btn-toggle {
    width: 6.6rem;
    height: 6.9rem;
}






