.gnb-down {
    position: relative;
    max-width: 1920px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 38px 0 36px;
}

.nav-box,
.acct-btn {
    display: flex;
    align-items: center;
}

.logo {
    padding: 0 12px;
}

.nav-box li {
    height: 100%;
}
.nav-box a {
    display: block;
    font-size: 1.6rem;
    padding: 16px 12px 18px 12px;
    color: rgb(17, 17, 17);
}

.nav-box a:hover {
    border-bottom: 2px solid rgb(17, 17, 17);
}

.acct-btn a {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 50%;
}

.acct-btn li:first-child a {
    margin-right: 12px;
}

.search {
    position: absolute;
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    right: 142px;
}

.search input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

/* input 안에 글씨 디자인 */
::placeholder {
    padding: 8px 48px;
    font-size: 1.6rem;
    opacity: 0.5;
}

.search button {
    position: absolute;
    top: 11px;
    left: 1px;
    padding: 6px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
}

.btn-group {
    display: none;
}